body{
    background-color: aqua ;
}

#main-container{
    text-align: center;
}



#timeCount{
    width: 130px;
    height: 30px;
    font-size: small;
    margin-top: 20px;
}

#text{
    font-size: larger;
}

#current-time{
    color: white;
    font-size: 60px;
    padding: 7px;
}
    